@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили используемые в JS и не загружаемые Tailwind */
#content .product_card {
    position: relative;
    border-radius: 25px;
    border-width: 1px;
    border-color: #999a9e;
    display: flex;
    flex-direction: column;
}

#content .product_card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .product_card img {
    border-radius: 25px;
    margin-bottom: 10px;
}

#content .order_card {
    position: relative;
    border-radius: 25px;
    border-width: 1px;
    border-color: #999a9e;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
}

.invalid {
    border: 1px solid #dc2b2b;
}

.btn_remove {
    rotate: 45deg;
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    right: 15px;
}

.order_card .btn_remove {
    top: 15px;
}

.product_card .btn_remove {
    bottom: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
